[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
opencv-python = "*"
matplotlib = "*"
requests = "*"
pillow = "*"
selenium = "*"
pandas = "*"
psycopg2 = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"
flask-bcrypt = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
